$base-green:rgb(67,137,19);
$base-gray: #808080;

.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#homepage-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  background-image: url("homepage.png");
  background-size: cover;
  background-position: 50% 50%;
}

.slogan-search {
  z-index: 1;
  font-size: 10px;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#slogan {
  z-index: 1;

  vertical-align: middle;
  font-size: 70px;
  font-weight: 550;
  color: white;
  width: 100%;
}
#search-wrapper {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px 5px 20px;
  background-color: white;
  border-radius: 40px;
  height: 60px;
}
#search {
    font-size: 20px;
    margin-right: 5px;
    color:$base-gray;
}
#searchbar{
  margin-left: 5px;
    border: 0px;
    width: 95%;
    font-size: 18px;
    outline: 0px;
    color:$base-gray;
}
#arrow {
    color: $base-green;
    font-size: 36px;
}
